# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage
*.lcov

# nyc test coverage
.nyc_output

# Dependency directories
node_modules/

# Dependency lock file
package-lock.json

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env*
!.env.sample

# IDE folders
.vim
.vscode
.idea
.zed

# OS Files
.DS_Store

# Claude Code
.claude
